<%- include ('partials/_header')  %>

<!-- <pre><%= data[1].curso_nombre %></pre> //Obtener datos de la BD
 -->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>n°</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].curso_nombre %></td>
                                <td><%= data[i].curso_descripcion %></td>
                                <td>
                                    <a href="/delete/<%= data[i].curso_id %>" class="btn btn-danger">Borrar</a>
                                    <a href="/update/<%= data[i].curso_id %>" class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="Nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Descripcion" placeholder="Descripcion" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Agregar Curso
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/_footer')  %>